header {
	overflow: visible;
	margin: auto;
	width: 1200px;
	font-family: sans-serif;
	font-size: 3em;	
}

.gradient, .gradient-small {
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#222), color-stop(25%,#c800c8), color-stop(50%,#17c4de), color-stop(75%,#C800C8), color-stop(100%,#222));
	-webkit-background-size: 800px 1px;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-animation: gradient_pan 20s infinite linear;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	
}
@-webkit-keyframes gradient_pan {
    0% {
        background-position: left bottom;
    }
    100% {
        background-position: right bottom;
    }
}

.gradient-small {
	-webkit-background-size: 300px 1px;
}

#instafeed {
    overflow: hidden;
    zoom: 1;
    width: 300px;
    max-width: 95%;
    margin: 20px auto;
    -webkit-transition: width 1s ease-in-out,margin .25s ease-in-out;
    -moz-transition: width 1s ease-in-out,margin .25s ease-in-out;
    transition: width 1s ease-in-out,margin .25s ease-in-out;
}

#gradient a {
	color: #000;
}

#instafeed a {
    float: left;
}

#instafeed a:hover img {
    -webkit-transform: scale .8;
    transform: scale .8;
}

#instafeed img {
    width: 100%;
    max-width: 100%;
}

@media screen and (min-width:700px) {
    #instafeed {
        width: 600px;
    }

    #instafeed a {
        display: block;
        padding: 5px;
        width: 300px;
    };
}

@media screen and (min-width:900px) {
    #instafeed {
        width: 800px;
    }

    #instafeed a {
        width: 200px;
    };
}

@media screen and (min-width:1100px) {
    #instafeed {
        width: 1000px;
    };
}

@media screen and (min-width:1300px) {
    #instafeed {
        width: 1200px;
    };
}
