body {
    margin: 0;
    font-family: sans-serif;
}

.bg-body {
	background-color: #eee;
}

header {
	position: relative;
	overflow: visible;
	margin: auto;
	
	font-size: 1.3em;	
	background: #fff;
	padding: 30px;
	

	-webkit-transition: width 1s ease-in-out,margin .25s ease-in-out;
    -moz-transition: width 1s ease-in-out,margin .25s ease-in-out;
    transition: width 1s ease-in-out,margin .25s ease-in-out;
}

.address {
    font-size: 65%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}


.nav {
    overflow: hidden;
    margin: 10px;
    text-align: center;
}

.nav a {
    text-transform: uppercase;
    width: 130px;
    padding: 0 10px;
    height: 52px;
    line-height: 52px;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.nav a:last-child {
    border: none;
}

.gradient, .gradient-small {
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#17c4de), color-stop(25%,#c800c8), color-stop(50%,#17c4de), color-stop(75%,#C800C8), color-stop(100%,#17c4de));
    /*background: -webkit-gradient(linear, left top, right top, color-stop(0%,#83C400), color-stop(25%,#97C43B), color-stop(50%,#507800), color-stop(75%,#6D8E2B), color-stop(100%,#2E4500));*/
	-webkit-background-size: 800px 1px;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-animation: gradient_pan 2s infinite linear;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	
}

.gradient-green {
    /*color: #000;*/
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c800c8), color-stop(25%,#17c4de), color-stop(50%,#C800C8), color-stop(75%,#17c4de), color-stop(100%,#c800c8));
    /*background: -webkit-gradient(linear, left top, right top, color-stop(0%,#83C400), color-stop(25%,#97C43B), color-stop(50%,#507800), color-stop(75%,#6D8E2B), color-stop(100%,#2E4500));*/
    -webkit-background-size: 800px 1px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: gradient_pan 3s infinite linear;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes gradient_pan {
    0% {
        background-position: left bottom;
    }
    100% {
        background-position: right bottom;
    }
}





#instafeed {
    overflow: hidden;
    zoom: 1;
    max-width: 100%;
    margin: 0px auto;
    -webkit-transition: width 1s ease-in-out,margin .25s ease-in-out;
    -moz-transition: width 1s ease-in-out,margin .25s ease-in-out;
    transition: width 1s ease-in-out,margin .25s ease-in-out;
    background: #FFF;
}

#instafeed a, .more {
    float: left;
    display: block;
    width: 100%;
    overflow: hidden;
}

#instafeed img {
    width: 100%;
    max-width: 100%;
}

.more {
    display: block;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin: 200px 0;
    vertical-align: middle;
}


@media screen and (min-width:700px) {
    #instafeed {
        width: 660px;
    }

    header {
    	width: 600px;
    	font-size: 1.8em;
    }
    .nav a {
        border-right: 8px solid #efefef;
    }
    .more {
        margin: 0;
        line-height: 430px;
    }
}

@media screen and (min-width:900px) {
    #instafeed {
        width: 860px;
    }
    header {
    	width: 800px;
    	font-size: 2.2em;
    }

    #instafeed a {
        max-width: 50%;
        max-height: 50%;
    }

    .more {
        font-size: 40px;
        line-height: 430px;
    }

}

@media screen and (min-width:1100px) {
    #instafeed {
        width: 1060px;
    }
    header {
    	width: 1000px;
    	font-size: 2.8em;
    }
    .address {
        font-size: 45%;
    }
    .more {
        line-height: 530px;
    }
}

@media screen and (min-width:1300px) {
    #instafeed {
        width: 1260px;
    }
    header {
    	width: 1200px;
    	font-size: 3em;
    };
}
